:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  height: min-content;
  padding: 0;
  margin: 0;
  background: #ffffff;
}

header nav {
  border-bottom: 2px solid #eee;
}

nav ul {
  list-style: none;
  align-items: center;
}

header nav ul li a {
  padding: 15px 20px 5px !important;
  font-size: 14px;
  color: black;
}

ol, ul {
  padding-left: 3%;
}

.side {
  min-height: 95vh;
  max-height: 100vh;
}

.main {
  min-height: 60vh;
  height: fit-content;
  margin-bottom: 50px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.side ul,
.side li,
.side a {
  width: 100%;
  margin: 0;
}

.side a {
  padding: 10px 10px;
}

a {
  font-weight: 500;
  color: #7b7b7b;
  text-decoration: inherit;
  display: inline-flex;
  align-items: center;
  gap: 8.5px;
  justify-content: left;

}
a:hover {
  color: #444444 !important;
}

.side a:hover {
  background: #eee;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background: #f9f9f9;
}

.light {
  background: #ffffff;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  background: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.reader img:not(.featured) {
  max-width: 100% !important;
  margin: 30px 0;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

form input, #submit {
  min-height: 50px;
}

form label, #submit {
  margin: 20px 0 5px;
}

button#submit {
  width: 120px; 
  height: 30px; 
  margin: auto;
}

#submit.login {
  margin-top: 25px;
}

.search {
  list-style-type: none;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  flex-grow: 1;
  padding: 5px;
  padding-left: 15px;
  max-width: 25%;
  height: 30px;
  align-items: center;
  margin-right: auto;
}

.searchIt {
  color: #909090;
}

#search {
  flex-grow: 1;
  border: none;
  color: #909090;
  padding-left: 5px;
}

#search:focus, select:focus {
  outline: none;
}

:not(form) select {
  width: 100px;
}

.signup-form input, .signup-form button {
  margin: 20px 0;
  border-radius: 5px !important;
}

.react-date-picker__wrapper {
  border: none !important;
}

.settings {
  width: 260px;
  height: 99vh;
  position: absolute;
  right: 0;
  background: #f7f7f7;
  top: 45px;
  z-index: 100;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  box-shadow: -3px 2px 2px #f5f5f5;
}

#footer {
  margin-top: 50px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .content img.mx-auto {
    width: 90% !important;
    height: auto !important;
  }
  .side, #counter {
    display: none;
  }

  .viewer {
    display: none;
  }

  .search {
    max-width: 100%;
    margin-top: 10px;
  }

  .react-date-picker__inputGroup {
    display: none;
  }

  .search {
    flex-direction: row-reverse;
    box-sizing:content-box;
  }

  #search {
    width: 100%;
  }

  .settings {
    top: 130px;
    position: fixed;
  }

  .main {
    border-radius: 0;
  }
}
